.devtool-selector-bar {
	flex: 0 0 auto;
	box-sizing: border-box;
	border-bottom: 1px solid var(--color-tool-border);
	font-size: 12px;
	display: flex;
	flex-flow: row wrap;
	padding: 0 5px;
	background: var(--color-tool-bg);
}

.item {
	flex: 0 0 auto;
	padding: 4px 10px 3px 10px;
	border-bottom: 2px solid transparent;
	cursor: default;
	user-select: none;
}

.item:hover {
	background: #e0e0e4;
}

.item.active {
	background: #e0e0e4;
	border-color: #77f;
}

.icon {
	margin-left: 2px;
	font-size: 12px;
}
