
.flex-scroll-y {
	flex: 1 1 auto;
	display: flex;
}

.outer {
	flex: 1 1 auto;
	overflow-y: auto;
	position: relative;
}

.inner {
	display: flex;
	flex-flow: column nowrap;
	position: absolute;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
