.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 25px;
  border-radius: 10px;
  max-width: 95%;
  max-height: 95%;
  overflow: auto;
  position: relative;
}

.modal-content {
      background: #fff;
    padding: 25px;
    border-radius: 10px;
    max-width: 95%;
    max-height: 95%;
    overflow: auto;
    position: relative;
}

.modal-content p {
  font-size: 24px;
  font-weight: bold;
}
