.popover {
	min-width: 100px;
	margin: 1px;
	padding: 5px;
	z-index: var(--zindex-popover);
	border: 1px solid silver;
	border-radius: 1px;
	box-shadow: 1px 1px 2px silver;
	background: var(--color-popover-bg);
	color: var(--color-popover-text);

	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.caption {
	margin: 7px 10px 4px 10px;
	font-size: 1.05rem;
	font-weight: bold;
	white-space: nowrap;
}

.controls {
	margin: 6px;
}
