@import "../global.css";

.container {
	padding: 3px 0;
	margin: 0 4px;
}

.tool-progress-bar {
	position: relative;
	height: 2px;
	border-radius: 2px;
	margin: 4px 0;
	border: 1px solid #888;

	cursor: default;
	user-select: none;
	moz-user-select: none;
	-ms-user-select: none;
}

.bar, .subbar {
	position: relative;
	width: 0%;  /* style属性で上書き */
	height: 100%;
	background: #aaa;
}

.subbar {
	position: absolute;
	top: 0;
	left: 0;
	background: #ddd;
}

.circle {
	position: absolute;
	width: 8px;
	height: 8px;
	background: #999;
	border-radius: 5px;
	top: -3px;
	left: -4px; /* style属性で上書き */
}

.circle:hover,
.active .bar,
.active .circle {
	background: gray;
}

.marker {
	position: absolute;
	left: -4px; /* style属性で上書き */
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 7px solid #aaf;
}
