@import "../global.css";

.tool-progress-bar {
	position: relative;
	width: 200px;  /* style属性で上書き */
	height: 2px;
	border-radius: 2px;
	margin: 4px 8px;
	border: 1px solid #888;

	cursor: default;
	user-select: none;
	moz-user-select: none;
}

.bar {
	position: relative;
	width: 0%;  /* style属性で上書き */
	height: 100%;
	background: #aaa;
}

.circle {
	position: absolute;
	width: 10px;
	height: 10px;
	background: #999;
	border-radius: 5px;
	right: -5px;
	top: -4px;
}

.circle:hover,
.active .bar,
.active .circle {
	background: gray;
}
