.tool-label {
	margin: 1px 6px;
	border: 1px solid var(--color-tool-border);
	border-radius: 3px;
	padding: 1px 6px;

	background: var(--color-tool-bg);
	color: var(--color-tool-text);

	box-sizing: border-box;
	display: inline-block;

	/*
	user-select: none;
	-moz-user-select: none;
	*/
}

.border-emphasize {
	margin: 4px 6px;
	border-width: 2px;
	border-color: #c1c1c1;
	height: min-content;
}
