.switch-option {
	display: inline-flex;
	flex-flow: row nowrap;
	align-items: center;
	margin: 0 9px;
	font-size: 0.9rem;
	user-select: none;
	-webkit-user-select: none;
}

.switch-option > input[type=checkbox] {
	margin-right: 5px;
}
