
.whole {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
}

.whole-dialog {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}

.main {
	flex: 1 1 auto;
}

.centering {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main > * {
	border: 1px solid silver;
}

.devtools {
	flex: 0 0 auto;
}

.bg-image {
	position: absolute;
	z-index: -1;
}

/* IE11のみ */
@media all and (-ms-high-contrast: none){
	.bg-image {
		margin: auto;
		left: 0px;
		right: 0px;
		transform: translateY(-50%);
	}
}