
.whole {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
}

.whole-dialog {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}

.main {
	flex: 1 1 auto;
}

.centering {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main > * {
	border: 1px solid silver;
}

.devtools {
	flex: 0 0 auto;
}

.display-dialog {
	margin: 0 0 0 auto;
}

/* 
	IE11のみ
	参考： https://qiita.com/feo52/items/932f57f9760d2b743d39
*/
_:-ms-lang(x)::-ms-backdrop, .bg-image {
	margin: auto;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}
