/* TODO @import する箇所の限定 */

:root {
	--color-tool-text: #686868;
	--color-tool-text-disabled: silver;
	--color-tool-text-active: #222;
	--color-tool-text-pushed: var(--color-tool-text);
	--color-tool-border: #c0c0c0;
	--color-tool-border-active: #bbb;
	--color-tool-border-pushed: gray;
	--color-tool-border-emphasize: #c1c1c1;
	--color-tool-bg: #f0f0f0;
	--color-tool-bg-active: #bbb;
	--color-tool-bg-pushed: #ccc;

	--color-popover-bg: #fcfcfc;
	--color-popover-text: #686868;

	--color-base-text: #555;
	--color-base-text-active: #fdfdfd;
	--color-base-border: #bbb;
	--color-base-grid: #ccc;
	--color-base-bg: #fdfdfd;
	--color-base-bg-alt: #f6f6f6;
	--color-base-bg-hover: #d8e8f9;
	--color-base-bg-active: #abc6e4;
	--color-base-button-bg: #68c;
	--color-base-button-bg-hover: #6080c0;
	--color-base-button-bg-active: #5070b0;

	--color-pane-bg: white;
	--color-pane-button-bg: white;
	--color-pane-button-bg-selected: rgb(214, 214, 228);
	--color-pane-button-text-selected: rgb(12, 50, 146);
	--color-pane-button-text-disabled: rgb(150, 150, 150);

	--zindex-game-screen-bg: -1;
	--zindex-game-screen: calc(var(--zindex-game-screen-bg) + 1);
	--zindex-game-screen-guideline: calc(var(--zindex-game-screen-bg) + 1);
	--zindex-game-screen-grid: calc(var(--zindex-game-screen-bg) + 1);
	--zindex-popover: 10;
	--zindex-notification: 20;
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;

	/* TODO フォント決めてWeb Fontで組み込む */
	font-family: sans-serif;
	font-size: 12px;
	color: var(--color-tool-text);
}

:global(#container) {
	width: 100%;
	height: 100%;
}
