
.popover {
	position: absolute;
	right: 0;
}

.popover-inner {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.mutebar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.mutebar-label {
	margin-right: 5px;
}

.mutebutton {
	border: 1px solid silver;
	border-radius: 0;
	border-width: 1px;
}

.mutebutton-middle {
	margin-left: 0;
	margin-right: 0;
}

.mutebutton-left {
	border-radius: 4px 0 0 4px;
	margin-right: 0;
}

.mutebutton-right {
	border-radius: 0 4px 4px 0;
	margin-left: 0;
}

.volume-bar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.volume-bar-label {
	margin-right: 2px;
}
