
.popover {
	position: absolute;
	min-width: 200px;
	right: 0;
	margin: 1px;
	padding: 5px;
	z-index: var(--zindex-popover);
	border: 1px solid silver;
	border-radius: 1px;
	box-shadow: 1px 1px 2px silver;
	background: var(--color-popover-bg);
	color: var(--color-popover-text);

	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.caption {
	margin: 7px 0 4px 0;
	font-size: 1.05rem;
	font-weight: bold;
}

.controls {
	margin: 6px;
}

.label + .label {
	margin-top: 5px;
}

.checkbox {
	margin: 3px 0.5ex;
	padding: initial;
}

.design-guideline {
	display: flex;
}

.help-link-icon {
	font-size: 16px;
	color: var(--color-tool-text);
	margin: 0px 3px;
}
