.popover {
	position: absolute;
	right: 0;
}

.label {
	white-space: nowrap;
}

.label + .label {
	margin-top: 5px;
}

.checkbox {
	margin: 3px 0.5ex;
	padding: initial;
}

.design-guideline {
	display: flex;
}

.help-link-icon {
	font-size: 16px;
	color: var(--color-tool-text);
	margin: 0px 3px;
}