.entity-tree-option-bar {
	flex: 0 0 auto;
	display: flex;
	flex-flow: row wrap;
	padding: 1px 3px;
	align-items: center;
	border-bottom: 1px solid var(--color-base-grid);
}

.sep {
	align-self: center;
	display: block;
	width: 1px;
	height: 20px;
	margin: 0 3px;
	border-left:1px solid silver;
}
