.entity-tree-devtool {
	box-sizing: border-box;
	flex: 1 1 auto;
	display: flex;
	flex-flow: column nowrap;
	background: var(--color-tool-bg);
}

.entity-tree-view {
	flex: 1 1 auto;
	display: flex;
	flex-flow: row nowrap;
	padding: 5px;
	background: var(--color-base-bg);
}

.invisible-entity {
	opacity: 0.5;
}

.entity-item {
	display: flex;
	align-items: center;
	/* font-family: Menlo, "Courier New", Consolas, monospace; */
	line-height: 1.4;
	user-select: none;
	-webkit-user-select: none;
}

.entity-item:hover {
	background-color: #f0f0ff;
}

.selected {
	background-color: #e9e9ff;
}

.entity-expand-button {
	vertical-align: center;
	font-size: 14px;
	color: #999;
}

.entity-expand-button-hidden {
	visibility: hidden;
}

.entity-class-name {
	color: #77c;
	font-size: 12px;
	margin-right: 8px;
}

.entity-local {
	color: #999;
	font-size: 10px;
	border: 1px solid #ccc;
	border-radius: 2px;
	margin-right: 5px;
	padding: 1px 5px;
}

.entity-mini-info {
	color: #999;
	font-size: 10.5px;
}

.entity-touchable {
	background: #bbc;
	color: white;
	border-radius: 2px;
	margin: 0 5px;
	padding: 2px 5px;
}

.entity-text {
	border: 1px dotted #ccc;
	border-radius: 2px;
	margin: 0 5px;
	padding: 1px 4px;
}

.color-box {
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 2px;
	width: 10px;
	height: 10px;
	margin: 0 5px;
}
