name: Publish and Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

env:
  NODE_VERSION: 24

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    name: Publish and Release
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          # CHANGELOG の差分を適切に生成するため明示的にすべての履歴を取得
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
      - name: Prepare
        run: |
          npm ci
          npm test
      - name: Create Release PullRequest or Publish
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        with:
          publish: npm run release-packages
          version: npm run version-packages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Archive artifact
        if: ${{ failure() }}
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: shrinkwrap_log
          path: ./logs_shrinkwrap
      - name: Test after publish
        # package-lock.json を更新するのが publish 直前のため、publish した物と完全に同じ状態でテストできない
        # ここでエラーになっても既に publish してしまった後だが、問題の検出を早めるため実行している
        # publish 時に npm-shrinkwrap.json が作成されていなければエラーとなり、このテストは実行されない
        run: | 
          if [[ `find ./packages/**/npm-shrinkwrap.json` ]]; then
            npm test
          fi
