name: test

on:
  pull_request:
    types: [opened, synchronize]
  push:

concurrency:
  group: ${{ startsWith(github.head_ref, 'renovate/') && 'renovate' || format('{0}-{1}', github.workflow, github.ref) }}
  cancel-in-progress: ${{ !startsWith(github.head_ref, 'renovate/') }}

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: "Node ${{ matrix.node }} / ${{ matrix.os }}"
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest, windows-2022] # windows-latest 環境では e2e テストが失敗するため、暫定的対応として windows-2022 を指定
        node: [20.x, 22.x]
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - name: Run test
        run: |
          npm ci
          npm test
        env:
          NX_DISABLE_DB: true
